[bumpversion]
current_version = 0.1.2
commit = True
tag = True

[bumpversion:file:setup.py]
search = 
	version='{current_version}'

[bumpversion:file:README.rst]
search = 
	commits-since/ionelmc/python-unlzw/v{current_version}.svg

[bumpversion:file:./README.rst]
search = 
	compare/v{current_version}...master

[bumpversion:file:docs/conf.py]
search = 
	version = release = '{current_version}'

[bumpversion:file:src/unlzw/__init__.py]
search = 
	__version__ = '{current_version}'
